##Plotly and Pandas

Pandas `DataFrame`s are powerful for analysis. Here, we'll briefly investigate converting a Plotly figure into a `DataFrame` with the `plotly` module and looking at some statistics.

In [1]:
import numpy as np
import pandas as pd

import plotly.plotly as py
import plotly.tools as tls

In [2]:
# grab a graph and embed it so we know what we're working with
tls.embed('https://plot.ly/~ckaiwu/141/prices/')

In [3]:
# actually import this data into python now
fig = py.get_figure('https://plot.ly/~ckaiwu/141/prices/')

# convert the figure into a DataFrame
df = fig.to_dataframe()

# there happen to be u'' values in the data
# .describe won't work properly when this is the case
df = df.replace('', np.nan)
df.head()

      dax30.x  dax30.y   ftse100.x  ftse100.y     sp500.x  sp500.y
0  1995-01-02      NaN  1995-01-02        NaN  1995-01-02      NaN
1  1995-01-03      NaN  1995-01-03        NaN  1995-01-03      NaN
2  1995-01-04      NaN  1995-01-04        NaN  1995-01-04      NaN
3  1995-01-05      NaN  1995-01-05        NaN  1995-01-05      NaN
4  1995-01-06      NaN  1995-01-06        NaN  1995-01-06      NaN

In [4]:
# show some basic statistics about the data we've got
df.describe()

           dax30.y    ftse100.y      sp500.y
count  4952.000000  4951.000000  4951.000000
mean      1.099991     1.240664     1.140199
std       0.091035     0.131055     0.082983
min       0.981822     0.994067     0.989218
25%       1.000000     1.151728     1.080367
50%       1.115933     1.277406     1.154638
75%       1.177722     1.357100     1.206294
max       1.266341     1.436051     1.282901